<%- include("partials/header"); -%>
<div class="home-intro">
  <h1>Everything fullstack development we put here in the journal</h1>
</div>

<div class="site-inner">
    <div class="grid-container">
      <% posts.forEach((post, index) => { %>
      <div class="grid-item grid-item<%=index + 1%> <%= index == 0 ? 'large-frame-grid' : index == 6 ? 'large-frame-grid'  : 'custom-border' %>">Item <%=index + 1%>
        <div class="thumbnail-container">
          <img src="data:<%=post.img.contentType%>;base64,
          <%=post.img.data.toString('base64')%>" alt="Thumbnail Image" class="thumbnail-image">
        </div>
        <header>
          <h2 class="entry-title">
            <a class="entry-title-link" href="/post/<%=post._id%>"><%=post.postTitle%></a>
          </h2>
          <!-- <p>
            <%- post.postContent.substring(0, 100)%>
          </p> -->
        </header>
        
      </div>
      <% }) %>
      <!-- <div class="grid-item grid-item2">Item 2</div>
      <div class="grid-item grid-item3">Item 3</div>
      <div class="grid-item grid-item4">Item 4</div>
      <div class="grid-item grid-item5">Item 5</div>
      <div class="grid-item grid-item6">Item 6</div>
      <div class="grid-item grid-item7">Item 7</div>
      <div class="grid-item">Item 8</div>
      <div class="grid-item">Item 9</div> -->


      <!-- <%posts.forEach((post, index) => { %>
        <div class="grid-item grid-item<%=index + 1%> <%= index == 0 ? 'large-frame-grid' : index == 6 ? 'large-frame-grid'  : 'custom-border' %>">
          <div class="thumbnail-container">
            <img src="data:<%=post.img.contentType%>;base64,
            <%=post.img.data.toString('base64')%>" alt="Thumbnail Image" class="thumbnail-image">
          </div>
          <header>
            <h2 class="entry-title">
              <a class="entry-title-link" href="/post/<%=post._id%>"><%=post.postTitle%></a>
            </h2>
          </header>
            <p class="post-paragraph <%= index == 0 ? '' : index == 7 ? ''  : 'hidden' %>">
              <%- post.postContent.substring(0, 100)%>
            </p>
            <div>
              <a href="/post/<%=post._id%>" class="continue-reading-button <%= index == 0 ? '' : index == 7 ? ''  : 'hidden' %>">Continue Reading</a>
            </div>
          
        </div>
      <% }) %>
  
      </div>
  
      <div class="pagination-archive">
        <ul>
        <% for (let i = 1; i <= pageCount; i++) { %>
          <li class="<%= i === currPage ? 'active' : '' %>">
            <a href="/<%= i == 1 ? '' : 'page/' + i%>"><%=i%></a>
          </li>
       <% } %>
        </ul>
      </div> -->
    </div>
  </div>
      
       

    
 





 <%- include("partials/footer"); -%>
